<mat-toolbar color="primary" class="toolbar" >
    <span class="some-width"></span>
    <span>
        <img src="assets/logo-ethernet.png" alt="alt text">
      <a id="site-title"routerLink="/">Ethiopian Education and Research Network</a>
    </span>
    <span class="spacer"></span>
    <ul>
      <li >
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">login</a>
      </li>
      <li >
        <a mat-button routerLink="/aboutUs" routerLinkActive="mat-light"> About</a>
      </li>
      <li>
        <a mat-button routerLink="/adminintrations" routerLinkActive="mat-light"> Administration</a>
      </li>
      <li >
        <a mat-button routerLink="/news" routerLinkActive="mat-light"> news</a>
      </li>
      <li >
        <a mat-button routerLink="/services" routerLinkActive="mat-light"> Services</a>
      </li>
      <li >
        <a mat-button routerLink="/tenders" routerLinkActive="mat-light"> Tenders</a>
      </li>
      <li >
        <a mat-button routerLink="/vacancies" routerLinkActive="mat-light"> Vacancies</a>
      </li>
      <li >
        <a mat-button routerLink="/documents" routerLinkActive="mat-light"> Documents</a>
      </li>
      
      <!-- <li>                                     
        <a mat-button routerLink="/signup" routerLinkActive="mat-light"> signup</a>
      </li>
      <li>
        <button mat-button (click)="onLogout()"> logout </button>
      </li> -->
    </ul>
    <hr>
  </mat-toolbar>
  <hr>



