<div class="left">
    <mat-card>
        <div class="imageLogo">
            <img src="assets/logo-ethernet.png" alt="alt text">
        </div>
        <mat-card-title class="ethernet"><b>Ethiopian Educational Research Network</b></mat-card-title>
        <mat-card-content>The Ministry of Science and Higher Education (MoSHE),
            established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science,
             higher education as well as the technical and vocational education and training (TVET) in Ethiopia.</mat-card-content>
        <mat-card-title><b>Mission</b></mat-card-title>
        <mat-card-content>The Ministry of Science and Higher Education (MoSHE),
            established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science, 
            higher education as well as the technical and vocational education and training (TVET) in Ethiopia.
            The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018,
             is responsible to lead the development of science, 
            higher education as well as the technical and vocational education and training (TVET) in Ethiopia.</mat-card-content>
        <mat-card-title><b>Vision</b></mat-card-title>
        <mat-card-content>The Ministry of Science and Higher Education (MoSHE),
            established by proclamation number 1097/2018 in October 2018, is responsible to lead the development of science,
             higher education as well as the technical and vocational education and training (TVET) in Ethiopia.
             The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018,
              is responsible to lead the development of science,
             higher education as well as the technical and vocational education and training (TVET) in Ethiopia.</mat-card-content>
        <mat-card-title><b>Values</b></mat-card-title>
        <mat-card-content>
            <p> Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018,
             is responsible to lead the development of science,
             higher education as well as the technical and vocational education and training (TVET) in Ethiopia.
             The Ministry of Science and Higher Education (MoSHE),established by proclamation number 1097/2018 in October 2018,
              is responsible to lead the development of science,
              higher education as well as the technical and vocational education and training (TVET) in Ethiopia.</p>
     
            <p> Ministry of Science and Higher Education (MoSHE),
            established by proclamation number 1097/2018 in October 2018,
             is responsible to lead the development of science, 
             higher education as well as the technical and vocational education and training (TVET) in Ethiopia.</p>
        </mat-card-content>
    </mat-card>
</div>
<div class="right">
    <form>
        <mat-card-title class="com">Your Comment</mat-card-title>
        <mat-form-field appearance="outline">
            <mat-label>Your Name</mat-label>
            <input matInput placeholder="Name">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Your Email</mat-label>
            <input matInput placeholder="Email">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Your Phone number</mat-label>
            <input matInput placeholder="Phone number">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Comment</mat-label>
            <textarea matInput placeholder="Comment"></textarea>
        </mat-form-field>
        <button mat-button color="primary">Send Comment</button>
    </form>
</div>